---
import AvatarList from './AvatarList.astro';
type Props = {
	path: string;
};
const { path } = Astro.props;
---

<footer>
	<span>
		Create by 
		<a href="https://portfolio.marco-dev.ga">Marco Bardales Rodriguez</a>
	</span>
</footer>

<style>
	footer {
		margin-top: auto;
		padding: 2rem;
		border-top: 3px solid var(--theme-divider);
	}
</style>
